/*geral*/
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
body {
    font-family: "Afacad Flux", sans-serif;
    line-height: 1.5em;
    letter-spacing: 0.5px;
    background-color: rgb(248, 248, 248);
    color: #244f86;
}
main, header {
    margin: 1vw 8vw 5vw 8vw;
}
body div#borda-conteudo {
    border-bottom: 2px solid #ddd8d8;
    max-width: 70vw;
    margin: 0 0 5vw 15vw;
}
/*header-index/geral*/
header div.menu {
    display: flex;
    justify-content: space-between;
    margin: 0 5vw 0 5vw;
    background-color: rgb(36, 79, 134);
    border-radius: 25px;
}
#h2-1 {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgb(155, 152, 152);
}
.menu img {
    height: 3.7vw;
    width: 6vw;
    margin: 10px 0 0 20px;
    width: 120px;
    height: 70px;
    transition: 1s;
}   
.menu img:hover{
    width: 90px;
    height: 60px;
    transition: 1s;
}
.menu nav ul {
    display: flex;
    margin: 0 2vw 0 0;
}
.menu nav ul li {
    padding: 35px 15px 25px 15px;
}
.menu nav ul li a {
    text-decoration: none;
    color: #fcfdff;
    font-size: 20px;
    font-weight: 500;
}
.menu a:hover {
    color: #97beee;
}
.headerpt2 {
    text-align: center;
    padding-bottom: 1vw;
    margin-top: 1vw;
}
.headerpt2 h1 {
    padding: 120px 0 50px 0;
    font-size: 5rem;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgb(155, 152, 152);
}
.headerpt2 p#saiba-mais {
    padding: 30px 0 20px 0;
    font-size: 25px;
}
.headerpt2 a {
    text-decoration: none;
    color: white;
    background-color: rgb(36, 79, 134);
    padding: 10px 20px 10px 20px;
    font-weight: bold;
    border-radius: 25px;
    transition: 0.5s;
}
.headerpt2 a:hover {
    color: #97beee;
    font-size: 20px;
    transition: 0.5s;
}
.headerpt2 p {
    font-size: 2.5rem;
    margin-bottom: 12px;
}
/*meio-index*/
.section-index h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    padding: 40px 0 50px 0;
}
.lista-conteudo ul {
    margin: 0 6vw 4vw 6vw;
}
.lista-conteudo ul li {
    background-color: #d8d7da;
    padding: 40px 60px 40px 60px;
    line-height: 2.2em;
    border-radius: 25px;
    margin-bottom: 3.5vw;
}
.lista-conteudo ul li p span {
    font-size: 2rem;
    font-weight: bold;
}
.lista-conteudo ul li p {
    font-size: 1.8rem;
}
.lista-conteudo ul #right {
    margin-left: 15vw;
}
.lista-conteudo ul #left {
    margin-right: 15vw;
}
.conteudo img {
    margin: 2vw 0 0 25vw;
    height: 30vw;
    width: 30vw;
}
#frase-final {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1em;
    margin: 0 8vw 0 8vw;
}
/*meio-importancia*/
.section1-importancia {
    font-size: 1.8rem;
    line-height: 1.1em;
}
.section1-importancia h2 {
    margin-bottom: 4vw;
}
.section1-importancia .caixa1 {
    background-color: #d8d7da;
    padding: 3.5vw 3vw 1vw 3vw;
    border-radius: 20px;
    display: flex;
    margin-bottom: 5vw;
}
.section1-importancia .caixa2 {
    background-color: #d8d7da;
    padding: 3.5vw 3vw 1vw 3vw;
    border-radius: 20px;
    display: flex;
    margin: 4vw 0 4vw 0;
    text-align: right;
}
.caixa2 .p-importancia p {
    padding: 0 0 35px 0;
}
.section1-importancia .caixa1 .p-importancia p {
    padding: 0 0 35px 0;
}
.p-importancia span {
    font-weight: bold;
}
.img-importancia img {
    height: 30vw;
    width: 30vw;
    margin: 0 0 1vw 0;
}
#frase-importancia {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1em;
    margin: 5vw 8vw 6vw 8vw;
}
/*meio-doenças*/
.section-doenças h2 {
    margin-bottom: 3vw;
}
.section-doenças ul {
    display: flex;
}
.section-doenças ul li {
    background-color: #d8d7da;
    margin: 2vw;
    text-align: center;
    padding: 2vw 2vw 2vw 2vw;
    border-radius: 20px;
}
.section-doenças ul li h3 {
    font-size: 2.5rem;
    font-weight: 500;
    padding-bottom: 2vw;
}
.section-doenças ul li p {
    font-size: 1.8rem;
    line-height: 1.1em;
}
.section-doenças span {
    font-weight: bold;
}
#frase-doenças {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1em;
    margin: 2vw 0 1vw 0;
}
.section-doenças {
    text-align: center;
    margin-bottom: 2vw;
}
/*meio-rotina*/
.section-rotina h2 {
    margin-bottom: 2.5vw;
}
.section-rotina h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    padding: 0 0 50px 0;
    line-height: 1em;
}
.section-rotina ul li {
    padding: 2vw 3vw 2vw 3vw;
    background-color: #d8d7da;
    border-radius: 20px;
    margin: 2vw 4vw 3vw 4vw;
}
.section-rotina ul li p {
    font-size: 1.8rem;
    line-height: 1.1em;
}
.section-rotina ul li h4 {
    font-weight: bold;
    font-size: 2rem;
    padding: 0 0 10px 50px;
}
.section-rotina ul li span {
    font-weight: 400;
}
#frase-rotina {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1em;
    margin: 4vw 0 0 0;
}
.section-rotina img {
    margin: 3vw 0 0 19vw;
}
/*meio-questionario*/
.questionario {
    display: flex;
}
.questionario .form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    margin: 0 0 0 2vw;
}
.questionario .img-form {
    width: 35vw;
    height: 35vw;
    margin-top: 1vw;
}
.input-box label,
.gender-tittle h6 {
    font-size: 1.5rem;
    line-height: 1em;
    font-weight: 500;
    padding-bottom: 10px;
}
.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}
.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}
.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}
.input-box input:hover {
    background-color: #c4c0c075;
}
.input-box input:focus-visible {
    outline: 1px solid #e1e1e2;
}
.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.gender-input input {
    margin-right: 0.3rem;
    font-size: 2vw;
}
.gender-input label {
    font-size: 1.4rem;
    font-weight: 500;
}
.submit-button input {
    border: none;
    border-radius: 25px;
    background-color: #244f86;
    color: white;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    font-size: 1.3rem;
    margin: 2vw 0 5vw 0;
}
.submit-button input:hover {
    color: #97beee;
}
/*sobre nos*/
.sobre-nos h2 {
    margin-bottom: 6vw;
}
.sobre-nos ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sobre-nos li {
    margin: 0 2vw 4vw 2vw;
    text-align: center;
}
.sobre-nos ul li h3 {
    font-size: 2em;
    font-weight: bold;
    margin-top: 1.5vw;
}
.sobre-nos img {
    width: 15vw;
    height: 15vw;
    border-radius: 100%;
    border: 5px solid #7d95b6;
}
/*ref*/
.ref {
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 8vw;
}
.ref h2 {
    margin-bottom: 5vw;
}
.ref p {
    margin-bottom: 1.5vw;
}
.ref p a {
    color: #244f86;
}
/*footer*/
footer {
    text-align: center;
    color: white;
    background-color: rgb(36, 79, 134);
    padding: 5vw;
    font-size: 1.2em;
}
footer a {
    color: white;
    text-decoration: none;
}
footer nav.social-midia a {
    padding: 10px 16px 9px 16px;
    background-color: white;
    border-radius: 100%;
    color: #244f86;
    font-size: 1.5em;
    margin: 0 15px 0 15px;
}
footer nav ul {
    display: flex;
    justify-content: center;
}
footer nav ul li a {
    color: white;
}
footer div.links-footer {
    display: flex;
    justify-content: center;
    margin: 35px 0 10px 0;
}
footer div.links-footer p {
    margin: 0 5px 0 5px;
}
#ponto {
    color: #d0e0f5;
}
