/*geral*/
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
body {
    margin: 1vw 8vw 3vw 8vw;
    font-family: "Afacad Flux", sans-serif;
    line-height: 1.5em;
    letter-spacing: 0.5px;
    background-color: rgb(255, 255, 255);
    color: rgb(36, 79, 134);
}
/*header*/
header {
    margin-bottom: 50px;
}
header div.menu {
    display: flex;
    justify-content: space-between;
    margin: 0 5vw 0 5vw;
    background-color: rgb(36, 79, 134);
    border-radius: 25px;
}
header div#banner {
    text-align: center;
}
.menu img {
    height: 5vw;
    width: 7vw;
}
.menu nav ul {
    display: flex;
    margin: 0 2vw 0 0;
}
.menu nav ul li {
    padding: 35px 15px 25px 15px;
}
.menu nav ul li a{
    text-decoration: none;
    color: rgb(252, 253, 255);
    font-size: 20px;
    font-weight: 500;
}
.headerpt2 {
    text-align: center;
    border-bottom: 2px solid rgb(153, 150, 150);
    margin: 0 10vw 0 10vw;
}
.headerpt2 h1 {
    padding: 120px 0 50px 0;
    font-size: 5rem;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgb(155, 152, 152);
}
.headerpt2 p:last-child {
    padding: 30px 0 70px 0;
    font-size: 25px;
}
.headerpt2 a {
    text-decoration: none;
    color: white;
    background-color: rgb(36, 79, 134);
    padding: 10px 20px 10px 20px;
    font-weight: bold;
    border-radius: 25px;
}
.headerpt2 p {
    font-size: 30px;
    margin-bottom: 12px;
}
/*meio-index*/
